<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Presentation_MaaliSamaj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DBString" connectionString="Data Source=166.62.100.102;User ID=Android_School;Password=Mumbai@456 " providerName="System.Data.SqlClient" />-->
     <add name="DBString" connectionString="Data Source=ADMINRG-VU111V5;Initial Catalog=demo_try;User ID=sa;Password=sa*123" providerName="System.Data.SqlClient" />
    <!--<add name="DBString" connectionString="Data Source=VIJAYKHAIRMARVM;Initial Catalog=DB_MaaliVansh;User ID=sa;Password=$vijay123;Connect Timeout=200; pooling='false'; Max Pool Size=200" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <dataConfiguration defaultDatabase="DBString" />
  <system.web>
    <sessionState timeout="20" />
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <anonymousIdentification enabled="false"/>
  </system.web>
  <!--<system.webServer>
    <defaultDocument>
      <files>
        <add value="Home/Default.asmx" />
      </files>
    </defaultDocument>
  </system.webServer>-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <Presentation_MaaliSamaj.Properties.Settings>
      <setting name="Presentation_MaaliSamaj_localhost_GetRegister"
        serializeAs="String">
        <value>http://localhost/Presentation_MaaliSamaj/GetRegister.asmx</value>
      </setting>
    </Presentation_MaaliSamaj.Properties.Settings>
  </applicationSettings>
</configuration>